<div class="row">
  <section id='body_content' class="<%= @page.content_for(:side_body).nil? ? 'span8' : 'span12' %>">
    <%=raw @page.content_for(:body) %>
  </section>
  <% unless @page.content_for(:side_body).nil? %>
    <section id='side_body_content' class="span4">
      <%=raw @page.content_for(:side_body) %>
    </section>
  <% end %>
</div>

