/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require bootstrap_and_overrides
 *= require sticky_footer
 *= require_tree .
 */

#content { padding-top: 2em; }
.guest_rsvp_form p { margin-top: 2em;  }
.custom_question.missing_answer {
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48;
}
#map_canvas {
    height: 600px;
    width: 100%;
    max-width: 600px;
    margin: 2em auto;
}
@media (max-width: 600px) {
  #map_canvas { height: 300px; width: 100%; }
}

@media (max-width: 768px) {
    #site_bar {
      display: none;
    }
}

td.actions {
    white-space: nowrap;
}